<p id="notice"><%= notice %></p>

<h1>Listing White Domain Names</h1>

<table>
  <thead>
    <tr>
      <th>Domain name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @white_domain_names.each do |white_domain_name| %>
      <tr>
        <td><%= white_domain_name.domain_name %></td>
        <td><%= link_to 'Show', white_domain_name %></td>
        <td><%= link_to 'Edit', edit_white_domain_name_path(white_domain_name) %></td>
        <td><%= link_to 'Destroy', white_domain_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New White domain name', new_white_domain_name_path %>
