%p#notice= notice
%h1 Listing Domain Update Logs
%table.table.table-hover
  %thead
    %tr
      %th Type
      %th Domain name
      %th{:colspan => "3"}
  %tbody
    - @domain_update_logs.each do |domain_update_log|
      %tr
        %td= domain_update_log.operation
        %td= domain_update_log.domain_name
        %td= link_to 'Show', domain_update_log
        %td= link_to 'Edit', edit_domain_update_log_path(domain_update_log)
        %td= link_to 'Destroy', domain_update_log, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Domain update log', new_domain_update_log_path
