%p#notice= notice
%h1 Listing Tmp Domain Names
%table.table.table-hover
  %thead
    %tr
      %th Domain name
      %th{:colspan => "3"}
  %tbody
    - @tmp_domain_names.each do |tmp_domain_name|
      %tr
        %td= tmp_domain_name.domain_name
        %td= link_to 'Show', tmp_domain_name
        %td= link_to 'Edit', edit_tmp_domain_name_path(tmp_domain_name)
        %td= link_to 'Destroy', tmp_domain_name, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Tmp domain name', new_tmp_domain_name_path
