<p id="notice"><%= notice %></p>

<h1>Listing Wechat Users</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Access token</th>
      <th>Openid</th>
      <th>Nick name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wechat_users.each do |wechat_user| %>
      <tr>
        <td><%= wechat_user.uuid %></td>
        <td><%= wechat_user.access_token %></td>
        <td><%= wechat_user.openid %></td>
        <td><%= wechat_user.nick_name %></td>
        <td><%= link_to 'Show', wechat_user %></td>
        <td><%= link_to 'Edit', edit_wechat_user_path(wechat_user) %></td>
        <td><%= link_to 'Destroy', wechat_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wechat user', new_wechat_user_path %>
