%header.navbar.navbar-inverse
  .container
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to '黑名单', black_domain_names_url 
        %li= link_to '白名单', white_domain_names_url 
        %li= link_to '超级白名单', super_white_domain_names_url 
        %li= link_to '用户启动记录', start_registers_url 
        %li= link_to '临时黑名单', tmp_domain_names_url 
        %li= link_to '名单更新日志', domain_update_logs_url 
        %li= link_to '用户名单', wechat_users_url 
        %li= link_to '错误报告', error_reports_url 
